ENCRYPTION_ALGORITHM=
ENCRYPTION_IV_LENGTH=

# Users
USER_EMAIL_ENCRYPTION_KEY=
USER_EMAIL_ENCRYPTION_IV=
USER_PASSWORD_ENCRYPTION_KEY=
USER_PASSWORD_ENCRYPTION_IV=

# Roles
ROLE_LABEL_ENCRYPTION_KEY=
ROLE_LABEL_ENCRYPTION_IV=
